body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ?<--- HEADER ---> */

header, nav, nav ul, header div{
    display: flex;
}

.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ddd;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 1440px;
    padding: 0px 15px;
}

.nav-bar {
    align-items: center;
}

.nav-links {
    gap: 10px;
    list-style: none;
}

.nav-logo {
    height: 30px;
    width: 30px;
}

.user-section, .user-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-section {
    gap: 20px;
}

.burger-menu, .check-menu, .burger-line {
    display: none;
}

.header-container a {
    text-decoration: none;
    color: black;
}
 .header-container a:hover {
    color: white;
}

/* ?<--- HEADER ---> */

/* ?<--- CONTAINER ---> */

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ?<--- CONTAINER ---> */

/* ?<--- FOOTER ---> */
.main-footer {
    background-color: #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
}

.foot-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    justify-content: center;
    padding: 0px;
}

a {
    text-decoration: none;
}

.insta {
    color: #CD408F;
}

.twit {
    color: #1C96E8;
}

.yutu {
    color: red;
}

.face {
    color: #0866FF;
}

.linki {
    color: #0B63BD;
}

.foot-logo img {
    height: 200px;
    width: auto;
    margin-top: 10px;
}

.foot-info {
    width: 200px;
}

/* ?<--- FOOTER ---> */



/* MEDIAS QUERYS */

@media screen and (width < 768px) {
    
    /* ?<--- HEADER ---> */
    .burger-menu, .burger-line {
        display: inline;
    }

    .burger-menu {
        width: 40px;
        height: 40px;
        background-color: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    .burger-line {
        background-color: #777;
        height: 3px;
        width: 25px;
        position: relative;
    } 

    .burger-line::after,
    .burger-line::before {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #777;
        position: absolute;
        top: -9px;
    }

    .burger-line::after {
        top: 9px;
    }

    .check-menu:checked~.burger-menu .burger-line {
        background-color: transparent;
    }

    .check-menu:checked~.burger-menu .burger-line::before {
        top: 0;
        transform: rotate(45deg);
    }

    .check-menu:checked~.burger-menu .burger-line::after  {
        top: 0;
        transform: rotate(-45deg);
    }

    .check-menu:checked~.header-container {
        height: 100vh;
        .nav-links {
            display: flex;
        }
        .user-link {
            display: flex;
            justify-content: center;
            min-width: 768px;
        }
    }

    .header-container, .nav-bar, .nav-links {
        flex-direction: column;
    }

    .nav-bar {
        display: flex;
        flex: 1;
        justify-content: center;
        width: 100%;
    }

    .main-header {
        position: sticky;
        top: 0;
        height: 50px;
        background-color: #ddd;
    }

    .nav-links {
        padding: 0;   
        margin: 0;
        flex: 1;
        display: none;
        width: 100%;
        align-items: center;
        justify-content: center;
        li {
            height: 100px;
            width: 100%;
            a {
                flex: 1;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
            }
            border-bottom: solid 1px #777; 
        }
    }

    .user-link {
        display: none;
        margin-bottom: 50px;
        width: 100%;
    }

    .nav-logo {
        position: absolute;
        top: 5px;
    }

    .cart-link {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    .header-container {
        height: 50px; 
        width: 100%;
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        background-color: #ddd;
        transition: all .5s ease-in-out;
    }
    /* ?<--- HEADER ---> */

    /* ?<--- FOOTER ---> */
    .foot-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .social-link {
        align-items: center;
    }

    .foot-info {
        text-align: center;
    }

    /* ?<--- FOOTER ---> */

}