body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ?<--- HEADER ---> */

header, nav, nav ul, header div{
    display: flex;
}

.main-header {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    width: 100%;
    position: sticky;
    top: 0;

}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 1440px;
    width: 100%;
    margin: 0px 10px;
}

.nav-bar {
    align-items: center;
}

.nav-links {
    gap: 10px;
    list-style: none;
}

.nav-logo {
    height: 30px;
    width: 30px;
}

.user-section, .user-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-section {
    gap: 20px;
}

.burger-menu, .check-menu, .burger-line {
    display: none;
}

/* ?<--- HEADER ---> */

/* ?<--- CONTAINER ---> */

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ?<--- CONTAINER ---> */

/* ?<--- FOOTER ---> */
/* ?<--- FOOTER ---> */

/* MEDIAS */

@media screen and (width < 768px) {
    .header-container {
        flex-direction: column;
        flex: 1;
        z-index: 1;
        height: 100%;
    }
}