* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* ?<--- HEADER ---> */

header, nav, nav ul, header div{
    display: flex;
}

.main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ddd;
    z-index: 1;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 1440px;
    padding: 0px 15px;
}

.nav-bar {
    align-items: center;
    padding: 10px;
}

.nav-links {
    gap: 10px;
    list-style: none;
    padding-left: 20px;
}

.nav-logo {
    height: 30px;
    width: 30px;
}

.user-section, .user-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-section {
    gap: 20px;
}

.burger-menu, .check-menu, .burger-line {
    display: none;
}

.header-container a {
    text-decoration: none;
    color: black;
}
 .header-container a:hover {
    color: white;
}

/* ?<--- HEADER ---> */

/* ?<--- BANNER ---> */

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0;
    width: 300%;
    height: 100%;
    animation: carousell 18s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

/* Agregar Bootstrap dañaba el proyecto
así que decidí optar por esta solución */

@keyframes carousell {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}

}

.main-banner {
    width: 100%;
    height: 400px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-width: 1440px;
}

.main-title {
    position: relative;
    top: 40%;
    margin: 0;
    height: 0px;
    font-size: 72px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eee;
    color: black;
}

/* ?<--- BANNER ---> */

/* ?<--- CONTAINER ---> */

.main-container {
    max-width: 1440px;
}

/* ? PROMOCIONES */

.promociones {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #eee;
    margin: 30px 0px;
}

.prom-sec {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;    
    padding: 20px;
    i {
        font-size: 50px;
        margin-top: 20px;
    }
}

.prom-med {
    background-color: #ccc;
}

/* ? PROMOCIONES */

/* ! <---- CARD ----> */

.product-card {
    height: 420px;
    width: 300px;
    border: 3px solid #777;
    border-radius: 5%;
    overflow: hidden;
    margin: 10px;
    background-color: #f4f4f4;
}

.card-img {
    width: 100%;
}

.info-container {
    padding: 0px 10px;
    font-size: 13px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .titulo-prod {
        font-size: 21px;
        font-weight: 600;
    }
}

.card-price {
    text-align: end;
}

.precio {
    font-size: 18px;
}

.card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    a {
        width: 100px;
        height: 30px;
        background-color: #31b8ff;
        border: none;
        text-align: center;
        border-radius: 10px;
        button {
            width: 100%px;
            height: 100%;
            background-color: #31b8ff;
            color: #eee;
            border: none;
        }
        button:hover {
            cursor: pointer;
        }
    }
}

/* ! <---- CARD ----> */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
        width: 100%;
        margin: 20px;
        font-size: 30px;
    }
}

/* ?<--- CONTAINER ---> */

/* ?<--- FOOTER ---> */

.main-footer {
    background-color: #ddd;
    width: 100%;
    display: flex;
    justify-content: center;
}

.foot-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    justify-content: center;
    padding: 0px;
}

a {
    text-decoration: none;
}

.insta {
    color: #CD408F;
}

.twit {
    color: #1C96E8;
}

.yutu {
    color: red;
}

.face {
    color: #0866FF;
}

.linki {
    color: #0B63BD;
}

.foot-logo img {
    height: 200px;
    width: auto;
    margin-top: 10px;
}

.foot-info {
    width: 200px;
}

/* ?<--- FOOTER ---> */

/* REGISTRO */

.registro {
    width: 500px;
    padding: 30px;
    background-color: #777;
    color: white;
    border-radius: 4px;
    margin: 30px;
}

.datos {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #31b8ff;
    font-size: 18px;
}

.area-dat {
    height: 200px;
}

.form-titu {
    font-size: 22px;
    margin-bottom: 20px;
}

.boton-reg {
    width: 100%;
    height: 40px;
    background-color: #31b8ff;
    text-align: center;
    font-size: 18px;
    border: none;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.boton-reg:hover {
    cursor: pointer;
}

/* REGISTRO */

/* PRODUCTOS */

table {
    color: white;
    background-color: #999;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 1440px;
    margin: 30px 0;
}

thead {
    background-color: #777;
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px white;
}

.tab-img {
    height: 70px;
    border-radius: 50%;
}

.act-cel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-pen-to-square {
    color: #0866FF;
}

.fa-trash {
    color: red;
}

.tab-claro {
    background-color: #bbb;
}

/* PRODUCTOS */

/* CONTACTO */

.main-contacto {
    display: flex;
    padding: 20px;
    margin: 30px 0;
    flex: 1;
    max-width: 1440px;
    gap: 20px;
    background-color: #777;
    align-items: center;
    justify-content: center;
    color: white;
}

.formu-contac {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.map-contact {
    width: 400px;
    height: 500px;
}

.map-contact iframe {
    width: 100%;
    height: 100%;
}

/* CONTACTO */

/* DESCRIPCIÓN */

.main-descripcion {
    max-width: 1440px;
}

.product-top {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-around;
}

.img-prod {
    width: 400px;
    height: 400px;
    img {
        width: 100%;
        height: 100%;
    }
    border: 1px solid #31b8ff;
    border-radius: 10px;
    overflow: hidden;
}

.prod-info {
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 20px;
}

.prod-info h2 {
    font-weight: 700;
    font-size: 51px;
}

.p-precio {
    font-size: 30px;
    font-weight: 600;
}

.prod-buton {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
    background-color: #31b8ff;
    color: #fff;
}

.prod-buton:hover {
    cursor: pointer;
}

.prod-specs {
    padding: 30px;
}

.prod-specs h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* DESCRIPCIÓN */

/* NOSOTROS */

.nos-cont {
    max-width: 1440px;
    padding: 30px;
    font-size: 20px;
}

.info-proyecto {
    margin-bottom: 30px;
}

.titulo-proyecto, .info-nombre {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

.info-perfil {
    width: 300px;
    border: 1px solid #1C96E8;
    border-radius: 10px;
    overflow: hidden;
}

.info-yo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    gap: 30px;
}

/* NOSOTROS */

/* * <---- MEDIAS QUERYS ----> */

@media screen and (768px <= width < 978px) {
    
    .card-container {
        justify-content: center;
    }
    
}

@media screen and (width < 768px) {
    
    /* ?<--- HEADER ---> */
    .burger-menu, .burger-line {
        display: inline;
    }

    .burger-menu {
        width: 40px;
        height: 40px;
        background-color: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    .burger-line {
        background-color: #777;
        height: 3px;
        width: 25px;
        position: relative;
    } 

    .burger-line::after,
    .burger-line::before {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #777;
        position: absolute;
        top: -9px;
    }

    .burger-line::after {
        top: 9px;
    }

    .check-menu:checked~.burger-menu .burger-line {
        background-color: transparent;
    }

    .check-menu:checked~.burger-menu .burger-line::before {
        top: 0;
        transform: rotate(45deg);
    }

    .check-menu:checked~.burger-menu .burger-line::after  {
        top: 0;
        transform: rotate(-45deg);
    }

    .check-menu:checked~.header-container {
        height: 100vh;
        .nav-links {
            display: flex;
        }
        .user-link {
            display: flex;
            justify-content: center;
            min-width: 768px;
        }
    }

    .header-container, .nav-bar, .nav-links {
        flex-direction: column;
    }

    .nav-bar {
        display: flex;
        flex: 1;
        justify-content: center;
        width: 100%;
    }

    .main-header {
        position: sticky;
        top: 0;
        height: 50px;
        background-color: #ddd;
    }

    .nav-links {
        padding: 0;   
        margin: 0;
        flex: 1;
        display: none;
        width: 100%;
        align-items: center;
        justify-content: center;
        li {
            height: 100px;
            width: 100%;
            a {
                flex: 1;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-decoration: none;
            }
            border-bottom: solid 1px #777; 
        }
    }

    .user-link {
        display: none;
        margin-bottom: 50px;
        width: 100%;
    }

    .nav-logo {
        position: absolute;
        top: 5px;
    }

    .cart-link {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    .header-container {
        height: 50px; 
        width: 100%;
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        background-color: #ddd;
        transition: all .5s ease-in-out;
    }
    /* ?<--- HEADER ---> */

    /* ?<--- FOOTER ---> */

    .main-footer {
        width: 100%;
    }

    .foot-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .social-link {
        align-items: center;
    }

    .foot-info {
        text-align: center;
    }

    /* ?<--- FOOTER ---> */

    /* ?<--- BANNER ---> */
    
    .main-banner {
        height: auto;
        margin-top: 50px;
    }

    .slider ul {
        margin: 0;
    }
    
    .main-title {
        position: absolute; 
        top: 50%;
        font-size: 51px;
    }

    /* ?<--- BANNER ---> */

    /* De aqui al final de la @media van todas 
    las clases que necesitan width: 100%; para 
    comportarse de manera responsive. */

    .promociones {
        flex-direction: column;
    }

    .card-container {
        justify-content: center;
    }

    .registro {
        width: 100%;
        margin: 80px 0 30px 0;
    }

    .tab-prod-cont {
        width: 100%;
        margin-top: 50px;
    }

    .tab-container {
        width: 100%;
        overflow-y: scroll;
        flex: 1;
    }

    .main-contacto {
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
    }

    .formu-contac, .nos-cont, .map-contact, .img-prod {
        width: 100%;
    }

    .product-top {
        flex-direction: column-reverse;
        gap: 70px;
        margin-top: 80px;
    }

    .prod-info h2 {
        margin-bottom: 0;
        font-size: 30px;
    }

    .nos-cont {
        margin-top: 80px;
    }

}

@media screen and (width < 465px) {

    /* Centra el título del banner en pantallas chicas */

    .main-title {
        font-size: 48px;
        top: 30%;
        text-align: center;
    }
}